/* Game Pages Shared Styles - Minimal CSS for current usage */

/* Currently no classes are being used in game pages */
/* All game pages have empty customContent={<div></div>} */
/* This file will be expanded when content is added to pages */

/* Placeholder to maintain file structure */
