.positionNumber {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  font-weight: bold;
  color: #FFFFFF;
}

.position1 {
  color: #FFFFFF;
}

.position2 {
  color: #FFFFFF;
}

.position3 {
  color: #FFFFFF;
}

.positionDefault {
  color: #FFFFFF;
}
