.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}

.icon {
  width: 90%;
  height: 90%;
  object-fit: contain;
}
