.text {
  font-family: var(--font-body);
  line-height: 1.4;
}

.primary {
  font-size: 1rem;
  font-weight: 300;
  color: #5dd62c;
}

.secondary {
  font-size: 0.875rem;
  font-weight: 300;
  color: #ffffff;
}

.highlight {
  font-family: var(--font-body);
  font-size: 1.125rem;
  font-weight: 700;
  color: #5dd62c;
}

@media (max-width: 768px) {
  .primary {
    font-size: 0.875rem;
  }
}
