


@media (min-width: 1200px) {
  .rewards-banner-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* text-align: center; */
    gap: clamp(2rem, 5vh, 6rem);
    background-image:  url('/HomeStats-2bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
