.page-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.page-title {
  text-align: center;
  color: #FFFFFF;
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .page-content {
    padding: 0rem 0.5rem;
  }
  
  .page-title {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
}
